{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent () }}
{% endblock %}
{% block body %}
    {{ parent () }}


    <div class="container">
        <div class="row">
            {% for entrees in entrees %}
                <div class="col-sm-4">
                    {% if entrees.enabled %}
                        <div class="card" style="width:400px">
                            <img class="card-img-top rounded img-fluid"
                                 src="{{ vich_uploader_asset(entrees, 'imageFile') }}" alt="{{ entrees.image }}"
                                 alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{ entrees.name }}</h4>
                                <p class="card-text">{{ entrees.prix }} €</p>
                                <a href="{{ path('showOneEntree', { 'id': entrees.id }) }}" class="btn btn-primary">See
                                    Profile</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}